.platinum-price-container {
  font-family: "Poppins";

  .price-template {
    display: flex;
    flex-direction: column;
    box-shadow: 0.63rem 0.19rem 0.38rem 0rem rgba(0, 0, 0, 0.16);
    width: 22vw;
    margin-right: 8vw;
    margin-bottom: 2vw;

    .head-section {
      background-color: #000000;
      padding: 10px 20px;

      .text-head {
        padding: 20px 15px;
        text-align: center;
        font-weight: 700;
        color: #fff;
        font-size: 1.3vw;
        border: 3px solid white;
      }
    }


    .col-section {
      background-color: #f6f6f6;
      padding: 15px 12px;

      .value {
        display: flex;
        justify-content: center;
        gap: 5vw;
        padding: 15px 0px;
        border-bottom: 4px solid #000000;

        .right-value {
          color: #6A6E71;
          font-size: 1.5vw;
          font-weight: 700;
        }
        .left-value {
          color: black;
          font-size: 1.5vw;
          font-weight: 700;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            width: 100px;
            height: 2px;
            background-color: black;
            transform: translateY(-50%);
          }
        }
      }

      .pricing {
        display: flex;
        justify-content: center;
        gap: 10vw;
        padding: 7px 0px;

        .pri {
          color: #6A6E71;
          font-size: 1.1vw;
          font-weight: 700;
          line-height: 2rem;
        }
      }

      .tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 3px dotted#000000;
        padding: 5px 0px;

        .img-text {
          display: flex;
          gap: 0.9vw;
          align-items: center;

          img {
            height: 1vw;
            width: 1vw;
          }

          p {
            color: #6A6E71;
            font-size: 1vw;
            font-weight: 600;
          }
        }

        p {
          color: #6A6E71;
          font-size: 1vw;
          font-weight: 600;
        }
      }
      .live {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 3px dotted#000000;
        padding: 5px 0px;
        .img-text {
          display: flex;
          gap: 0.9vw;
          align-items: center;
          img {
            height: 1vw;
            width: 1vw;
          }

          p {
            color: #000000;
            font-size: 1vw;
            font-weight: 600;
          }
        }
        p {
          color: #000000;
          font-size: 1vw;
          font-weight: 600;
        }
      }

      .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        .read-more-btn {
          margin-top: 2vw;
          border: none;
          font-size: 1.1vw;
          color: #000000;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: "480px") {
  .price-container {
    .price-template {
      width: 50vw;

      .head-section {
        padding: 14px;
        .text-head {
          padding: 11px 0px;
          text-align: center;
          font-size: 3.5vw;
        }
      }

      .col-section {
        padding: 10px 10px;

        .value {
          gap: 7vw;
          padding: 8px 0px;

          .right-value {
            font-size: 4vw;
          }
          .left-value {
            font-size: 4vw;
            &::before {
              width: 84px;
            }
          }
        }

        .pricing {
          gap: 8vw;
          padding: 2px 0px;

          .pri {
            font-size: 4vw;
          }
        }

        .tags {
          border-bottom: 3px dotted #000000;
          padding: 8px 0px;

          .img-text {
            img {
              height: 3vw;
              width: 3vw;
            }

            p {
              font-size: 2.2vw;
            }
          }

          p {
            font-size: 2.2vw;
          }
        }

        .live {
          border-bottom: 3px dotted #000000;
          padding: 8px 0px;
          .img-text {
            img {
              height: 3vw;
              width: 3vw;
            }

            p {
              font-size: 2.2vw;
            }
          }

          p {
            font-size: 2.2vw;
          }
        }

        .btns {
          .read-more-btn {
            font-size: 2vw;
          }
        }
      }
    }
  }
}
