.top-courses {
    .container-123 {
        display: flex;
    }

    .introduction.p {
        font-size: 0.5vw;
    }

    .top-courses-container {

        padding: 5.5vw;
        font-size: 1.2vw;
        color: #9A9696;
        text-align: justify;
        width: 100%;

        img {
            width: inherit;
        }

        .badges {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 1.5vw 0;

            .badge {
                background-color: #202C45;
                color: #fff;
                padding: .6vw 1.5vw;
                border-radius: 1.5vw;
                cursor: pointer;
            }
            .badge:hover {
                background-color: #2d8eff;
              }
        }

        h1 {
            font-size: 1.5vw;
            margin: 1vw 0;
            color: #000;
        }

        h2 {
            font-size: 1.5vw;
            margin: 1vw 0;
            color: #000;
        }

        h3 {
            font-size: 1.4vw;
            color: #000;
            margin: 1vw 0;
        }

        strong {
            color: #000;
        }

        b {
            color: #000;
        }

        li {
            color: rgb(103, 103, 103);
            padding: .5vw 0;
        }

        ul,
        ol {
            padding: 1.5vw;

            li {
                color: #605e5e;
                padding: 0.5vw 0;
                font-size: 1.1vw;
                line-height: 1.4vw;

                h6 {
                    color: #000;
                    display: inline-block;
                    font-size: 1.3vw;
                    font-weight: normal;
                }
            }

            h5 {
                font-weight: normal;
                display: inline-block;
                font-size: 1.1vw;
                color: #2d8eff !important;
            }
        }

        .phone-number {
            h3 {
                font-weight: normal;
                display: inline-block;
                font-size: 1.1vw;
                color: #2d8eff !important;
            }
        }


        .pricing-row {
            display: flex;
        }

        @media screen and (max-width:480px) {
            font-size: 3.5vw;
            width: 95vw;

            .badges {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 1rem auto;

                .badge {
                    text-align: center;
                    margin: 2vw 0;
                    padding: .5rem;
                    border-radius: 4vw;
                    cursor: pointer;
                }
            }

            img {
                width: 90vw;
            }

            h3 {
                font-weight: normal;
                font-size: 4vw;
            }

            h1 {
                font-weight: normal;
                font-size: 5vw;
            }

            h2 {
                font-weight: normal;
                font-size: 5vw;
            }

            ul,
            ol {
              li {
                font-size: 1rem;
                line-height: 1.2rem;
        
                h6 {
                  font-size: 1rem;
                }
              }
            }

        }
    }

    @media screen and (max-width:600px) {
        .container-123 {
            padding: 2vw;
        }


    }
}