$theme-color: #202C45;
$text-color: #363345;
$blue: #2D8EFF;
$light-bg: #EEE;
$light-text: #989696;

.test-series-page {
    .detail {
        left: 6vw;
        right: unset;

        h1 {
            width: 43vw;
            text-align: end;
        }

        h2 {
            position: absolute;
            right: 0;
        }

        p {
            display: none;
        }
    }

    .test-series-section {
        display: flex;
        padding: 0 2vw;

    }

    .course-idea {
        padding: 0vw 2vw;

    }


    h2 {
        font-size: 1.4vw;
        font-weight: bold;
    }

    h3 {
        font-weight: bold;
    }

    // p {
    //     color: #605e5e;
    //     font-size: 1vw;
    //     padding: 1vw 0;
    // }

    ul,
    ol {
        padding: 1.5vw;

        li {
            color: #605e5e;
            padding: 0.5vw 0;
            font-size: 1.1vw;
            line-height: 1.4vw;

            h6 {
                color: #000;
                display: inline-block;
                font-size: 1.3vw;
                font-weight: normal;
            }
        }


    }

    h5 {
        font-weight: normal;
        display: inline-block;
        font-size: 1.1vw;
        color: #2d8eff !important;
    }

    .phone-number {
        h3 {
            font-weight: normal;
            display: inline-block;
            font-size: 1.1vw;
            color: #2d8eff !important;
        }
    }


    .pricing-row {
        display: flex;
    }

    @media screen and (max-width:480px) {

        h1 {
            font-size: 1.1rem;
        }

        h2 {
            margin-top: 1vw;
            font-size: 5vw;
            font-weight: bold;
        }

        h5 {
            font-size: 1rem;
        }

        // p {
        //     font-size: 1rem;
        // }

        ul,
        ol {
            li {
                font-size: 1rem;
                line-height: 1.2rem;

                h6 {
                    font-size: 1rem;
                }
            }
        }


        .pricing-row {
            flex-direction: column;
        }


    }
}